
.section {
    position: relative;
    margin-bottom: 21vh;
}

.inner {
    width: 1288px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    background-size: cover;
}

.innerContents {
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-color: #96d4c3;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.middleContents {
    width: 331px;
    max-width: 73%;
    text-align: center;
    z-index: 70;
}



.middleContents h1{
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 1.7px;
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}

.future {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #333;
    padding: 5px;
    position: absolute;
    z-index: 5;
    text-align: left;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #EDD8C5;
}

.time {
    left: 9%;
    top: 30%;
}

.future span {
    position: relative;
    z-index: 5;
}

.future img {
    position: absolute;
    z-index: 1;
    width: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.time img {
    left: -6px;
}

.ranking {
    left: 3%;
    bottom: 10%;
}

.ranking img {
    right: -6px;
}

.mode {
    top: 45%;
    right: 12%;
}

.mode img {
    right: -6px;
}

.share {
    top: 9%;
    left: 42%;
}
.share img {
    left: -4px;
    width: 20px;
    transform:translateY(-60%) rotate(40deg);
}

.floatContents {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: floatMove 10s linear infinite;
}

@keyframes floatMove {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform:  translate(-5px, -5px);
    }
    20% {
        transform:translate(-10px, -10px);
    }
    30% {
        transform: translate(-15px, -15px);
    }
    40% {
        transform: translate(-20px, -20px);
    }
    50% {
        transform:  translate(-25px, -25px);
    }
    60% {
        transform: translate(-20px, -20px);
    }
    70% {
        transform:  translate(-15px, -15px);
    }
    80% {
        transform: translate(-10px, -10px);
    }
    90% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.floatContents div {
    position: absolute;
    z-index: 10;
}

.floatContents img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.sharePeace {
    width: 200px;
    max-width: 21.8%;
    top: -37px;
    left: 36%;
    transform: translateX(-36%);
}

.modePeace {
    width: 200px;
    max-width: 35.7%;
    top: 120px;
    right: -50px;
    transform: rotate(18deg);
}

.rankingPeace {
    width: 460px;
    max-width: 31.8%;
    left: 13%;
    bottom: 200px;
    transform: rotate(-18deg) translateY(-35%);
}

.timePeace {
    top: 20%;
    width: 240px;
    max-width: 18.6%;
    left: -120px;
    transform: rotate(-18deg);
}

.piece1 {
    top: 35%;
    width: 140px;
    max-width: 38.6%;
    left: 120px;
    transform: translateY(-35%);
    z-index: 3;
    position: absolute;
}

.piece2 {
    width: 110px;
    max-width: 30.8%;
    left: 35%;
    bottom: 10px;
    transform: translateX(-20%);
    z-index: 3;
    position: absolute;
}

.piece3 {
    width: 110px;
    max-width: 25.7%;
    top: 190px;
    right: 90px;
    transform: translateY(3%);
    z-index: 3;
    position: absolute;
}

.piece4 {
    width: 120px;
    max-width: 21.8%;
    top: 75px;
    left: 40%;
    transform: translateX(-36%);
    z-index: 3;
    position: absolute;
}

.piece1 img {
    width: 100%;
    height: auto;
}

.piece2 img {
    width: 100%;
    height: auto;
}

.piece3 img {
    width: 100%;
    height: auto;
}

.piece4 img {
    width: 100%;
    height: auto;
}

.landingLogin {
    width: 331px;
    max-width: 73%;
    text-align: center;
    margin: 0 auto;
    height: 64px;
}

.landingLogin button {
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #F85832;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;

}

.landingLogin button div {
    fill: #F85832;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.landingLogin button:hover {
    border-color: #333;
}

.landingLogin button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/blackTriangle.png");
}
