.sectionOrange {
    padding: 50px 0 100px;
    width: 100%;
    position: relative;
}
.sectionOrangeContainer {
    width: 1288px;
    max-width: 90%;
    margin: 0 auto;
}

.sectionOrangeBackground {
    padding: 220px 35px;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1.4px;
    color: #333;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #f85832;
    position: relative;
    background-image: url("../../../public/images/texture-orange.png");
}

.sectionOrangeMessageBlock {
    width: 52%;

}

.sectionOrangeMessageBlockButton {
    position: absolute;
    bottom: 50px;
    height: 64px;
}

.sectionOrangeMessageBlockButton div {
    fill: #333;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/blackTriangle.png");
}

.sectionOrangeMessageBlockButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #333;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;
    text-align: left;
}


.sectionOrangeMessageBlockButton button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/whiteTriangle.png");
}

.sectionOrangeMessageBlockButton button:hover {
    color: #EDD8C5;
    border-color: #EDD8C5;

}

.sectionOrangeAnimationBlock {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}
.near {
    animation: moveIt 2s linear infinite;
    z-index: 3;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url("../../../public/images/near.png");
}

.middle {
    animation: moveIt 3s linear infinite;
    z-index: 2;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url("../../../public/images/middle.png");
}

.far {
    animation: moveIt 4s linear infinite;

    z-index: 1;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url("../../../public/images/far.png");
}

@keyframes moveIt {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}
