.select {
    outline:none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    min-width: 140px;
    line-height: 45px;
    width: 272px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out 0s;
    background-color: #fff;
    font-weight: bold;
}

.easy {
    color: rgba(0, 132, 137, 0.7);
    border: 3px solid rgba(0, 132, 137, 0.7);
}

.easy:hover {
    color: rgba(0, 132, 137, 1);
    border: 3px solid rgba(0, 132, 137, 1);
}

.normal {
    color: rgba(255, 180, 0, 0.7);
    border: 3px solid rgba(255, 180, 0, 0.7);
}

.normal:hover {
    color: rgba(255, 180, 0, 1);
    border: 3px solid rgba(255, 180, 0, 1);
}

.hard {
    color: rgba(255, 90, 95, 0.7);
    border: 3px solid rgba(255, 90, 95, 0.7);

}

.hard:hover {
    color: rgba(255, 90, 95, 1);
    border: 3px solid rgba(255, 90, 95, 1);
}

.select option {
    color: #5876a3;
    border: 1px solid #5876a3;
}
