landingLogin {
    width: 331px;
    max-width: 73%;
    text-align: center;
    margin: 0 auto;
    height: 64px;
}

.landingLogin button {
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #F85832;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;

}

.landingLogin button div {
    fill: #F85832;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.landingLogin button:hover {
    border-color: #333;
}

.landingLogin button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/blackTriangle.png");
}


.sectionOrangeMessageBlockButton {
    position: absolute;
    bottom: 50px;
    height: 64px;
}

.sectionOrangeMessageBlockButton div {
    fill: #333;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/blackTriangle.png");
}

.sectionOrangeMessageBlockButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #333;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;
    text-align: left;
}


.sectionOrangeMessageBlockButton button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/whiteTriangle.png");
}

.sectionOrangeMessageBlockButton button:hover {
    color: #EDD8C5;
    border-color: #EDD8C5;

}


.messageSectionHalfRightButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #f85832;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #96d4c3;
    text-align: left;
}

.messageSectionHalfRightButton button div {
    fill: #333;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.messageSectionHalfRightButton button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/whiteTriangle.png");
}

.messageSectionHalfRightButton button:hover {
    color: #EDD8C5;
    border-color: #EDD8C5;
}


.halfRightTextButton {
    position: relative;
    padding-top: 15px;
    padding-bottom: 75px;
    z-index: 2;
}

.halfRightTextButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #333;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;
    text-align: left;
    z-index: 2;
}

.halfRightTextButton div {
    fill: #333;
    z-index: 2;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/blackTriangle.png");
}

.halfRightTextButton button:hover div {
    fill: #f85832;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.halfRightTextButton button:hover {
    border-color: #f85832;
}


.halfRightTextButton::after {
    content: '';
    z-index: 1;
    position: absolute;
    left: -54vw;
    right: 0;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #96d4c3;
    height: 100%;
    width: 150vw;
    top: 0;
    background-image: url("../../../public/images/texture_Teal.png");
}

*, *::before, *::after {
    box-sizing: inherit;
}
