.root {
    padding: 50px 0 100px;
    width: 100%;
    position: relative;
}
.rootContainer {
    width: 1288px;
    max-width: 90%;
    margin: 0 auto;
}

@media (max-width: 570px) {
    .root {
        padding: 0;
    }
    .rootContainer {
        max-width: 100%;
    }

}
