.root {
    width: 300px;
    margin: 0 auto;
    background-color: transparent;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.previewHeader {
    text-align: center;
}

.previewBody {
    height: inherit;
}

.root img {
    width: 100%;
    height: auto;
}
