.root {
  width: 100%;
  min-width: 320px;
  text-align: center;
}

.label {
  display: block;
  text-align: center;
  cursor: pointer;
  color: #6b7c93;
  border: 1px solid rgba(48, 200, 214, 0.8);
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
  margin-top: 15px;

  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin-bottom: 8px;
}

.label input {
  display: none;
}

.label:hover {
  background-color: rgba(48, 200, 214, 1);
  color: #fff;
}

.buttonContainer {
  padding: 8px;
}

.submitButton {
  display: block;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: rgba(48, 200, 214, 0.8);
  border: 1px solid rgba(48, 200, 214, 0.8);
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin-bottom: 8px;
}

.disableButton {
  display: block;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px solid rgba(200, 200, 200, 0.8);
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  -webkit-tap-highlight-color: transparent;
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin-bottom: 8px;
}


.submitButton:hover {
  background-color: rgba(48, 200, 214, 1);
  border: 1px solid rgba(48, 200, 214, 1);


}

.closeBtn{
  cursor: pointer;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  color: rgba(51,51,51, 0.4);
  background-color: transparent;
  stroke-width: 200;
  font-size: 20px;
  transition: all 0.3s;

}

.closeBtn:hover {
  background-color: rgba(51,51,51, 0.5);
}


@media (max-width: 570px) {
  .root {
    min-width: 0;
    max-width: 100%;
    height: 100%;
  }


  .label {
    margin: 0;
    margin-bottom: 8px;
  }

  .submitButton {
    margin: 0;
  }

  .disableButton {
    margin: 0;
  }

}
