.main {
    width: 100%;
}


.section {
    position: relative;
    margin-bottom: 21vh;
}

.inner {
    width: 1288px;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    /*background-image: url("../../../public/images/viewing.jpg");*/
    background-size: cover;

}

.innerContents {
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-color: #96d4c3;
    /*background-image: url("../../../public/images/bpuzzle.png");*/

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

}

.middleContents {
    width: 331px;
    max-width: 73%;
    text-align: center;
    z-index: 70;
    /*background-color: #233E53;*/
    /*padding: 40px 20px;*/
}



.middleContents h1{
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 1.7px;
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}

.future {
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #333;
    padding: 5px;
    position: absolute;
    z-index: 5;
    text-align: left;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #EDD8C5;
}

.time {
    left: 9%;
    top: 30%;
}

.future span {
    position: relative;
    z-index: 5;
}

.future img {
    position: absolute;
    z-index: 1;
    width: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.time img {
    left: -6px;
}

.ranking {
    left: 3%;
    bottom: 10%;
}

.ranking img {
    right: -6px;
}

.mode {
    top: 45%;
    right: 12%;
}

.mode img {
    right: -6px;
}

.share {
    top: 9%;
    left: 42%;
}
.share img {
    left: -4px;
    width: 20px;
    transform:translateY(-60%) rotate(40deg);
}

.floatContents {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: floatMove 10s linear infinite;
}

@keyframes floatMove {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform:  translate(-5px, -5px);
    }
    20% {
        transform:translate(-10px, -10px);
    }
    30% {
        transform: translate(-15px, -15px);
    }
    40% {
        transform: translate(-20px, -20px);
    }
    50% {
        transform:  translate(-25px, -25px);
    }
    60% {
        transform: translate(-20px, -20px);
    }
    70% {
        transform:  translate(-15px, -15px);
    }
    80% {
        transform: translate(-10px, -10px);
    }
    90% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.floatContents div {
    position: absolute;
    z-index: 10;
}

.floatContents img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.sharePeace {
    width: 200px;
    max-width: 21.8%;
    top: -37px;
    left: 36%;
    transform: translateX(-36%);
}

.modePeace {
    width: 200px;
    max-width: 35.7%;
    top: 120px;
    right: -100px;
    transform: rotate(18deg);

}

.rankingPeace {
    width: 460px;
    max-width: 31.8%;
    left: 13%;
    bottom: 200px;
    transform: rotate(-18deg) translateY(-35%);
}

.timePeace {
    top: 20%;
    width: 240px;
    max-width: 18.6%;
    left: -120px;
    transform: rotate(-18deg);
}

.piece1 {
    top: 35%;
    width: 140px;
    max-width: 38.6%;
    left: 120px;
    transform: translateY(-35%);
    z-index: 3;
    position: absolute;
}

.piece2 {
    width: 110px;
    max-width: 30.8%;
    left: 35%;
    bottom: 10px;
    transform: translateX(-20%);
    z-index: 3;
    position: absolute;
}

.piece3 {
    width: 110px;
    max-width: 25.7%;
    top: 190px;
    right: 90px;
    transform: translateY(3%);
    z-index: 3;
    position: absolute;
}

.piece4 {
    width: 120px;
    max-width: 21.8%;
    top: 75px;
    left: 40%;
    transform: translateX(-36%);
    z-index: 3;
    position: absolute;
}

.piece1 img {
    width: 100%;
    height: auto;
}

.piece2 img {
    width: 100%;
    height: auto;
}

.piece3 img {
    width: 100%;
    height: auto;
}

.piece4 img {
    width: 100%;
    height: auto;
}

.landingLogin {
    width: 331px;
    max-width: 73%;
    text-align: center;
    margin: 0 auto;
    height: 64px;
}

.landingLogin button {
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #F85832;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;

}

.landingLogin button div {
    fill: #F85832;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.landingLogin button:hover {
    border-color: #333;
}

.landingLogin button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/blackTriangle.png");
}

.picturesSection {
    padding: 50px 0;
    width: 100%;
    position: relative;
}

.picturesSectionContainer {
    width: 1188px;
    max-width: 80%;
    margin: 0 auto;
}

.picturesSectionContainer h2 {
    font-size: 32px;
    line-height: 1.69;
    letter-spacing: 1.2px;
    color: #EDD8C5;
    margin-bottom: 50px;
}

.picturesSectionIcons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.picturesSectionIconsItem {
    width: 18%;
    margin-right: 2%;
    text-align: center;
}

.picturesSectionIconsItem h2 {
    padding-top: 8px;
}

.square {
    border-radius: 50% 50% 50% 50%;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
}

.square img{
    top: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center center / cover;
    position: absolute;
    z-index: 10;

}

.circleBackground {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-delay: .5s;
    transition-duration: .2s;
    position: absolute;
    border-radius: 50%;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #EDD8C5;

}
.circleBackgroundBlue {
    background-color: #96b4ca;
}

.circleBackgroundPeople {
    background-color: #EDD8C5;
}

.circleBackgroundOrange {
    background-color: #F85B32;
}

.square img:hover{
    opacity: 1;
}

.open {
    opacity: 1!important;
}

.picturesSectionUnderBody {
    margin-top: 40px;
    width: 100%;
}

.picturesSectionUnderBodyContainer {
    width: 800px;
    max-width: 60%;
    margin: 0 auto;
}

.picturesSectionUnderBodyContainer p {
    color: #EDD8C5;
    line-height: 2.3;
    font-size: 20px;
    letter-spacing: 0.8px;
    text-align: center;
}

.sectionOrange {
    padding: 50px 0 100px;
    width: 100%;
    position: relative;
}
.sectionOrangeContainer {
    width: 1288px;
    max-width: 90%;
    margin: 0 auto;
}

.sectionOrangeBackground {
    padding: 220px 35px;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1.4px;
    color: #333;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #f85832;
    position: relative;
    background-image: url("../../../public/images/texture-orange.png");
}

.sectionOrangeMessageBlock {
    width: 52%;

}

.sectionOrangeMessageBlockButton {
    position: absolute;
    bottom: 50px;
    height: 64px;
}

.sectionOrangeMessageBlockButton div {
    fill: #333;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/blackTriangle.png");
}

.sectionOrangeMessageBlockButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #333;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;
    text-align: left;
}


.sectionOrangeMessageBlockButton button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/whiteTriangle.png");
}

.sectionOrangeMessageBlockButton button:hover {
    color: #EDD8C5;
    border-color: #EDD8C5;

}

.sectionOrangeAnimationBlock {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}
.near {
    animation: moveIt 2s linear infinite;
    z-index: 3;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url("../../../public/images/near.png");
}

.middle {
    animation: moveIt 3s linear infinite;
    z-index: 2;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url("../../../public/images/middle.png");
}

.far {
    animation: moveIt 4s linear infinite;

    z-index: 1;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url("../../../public/images/far.png");
}

@keyframes moveIt {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

.messageSection {
    padding: 100px 0;
    width: 100%;
    position: relative;
}

.trigger {
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
}

.trigger1 {
    top: 4.5%;
}
.trigger2 {
    top: 9%;
}
.trigger3 {
    top: 13.5%;
}
.trigger4 {
    top: 18%;
}
.trigger5 {
    top: 22.5%;
}
.trigger6 {
    top: 27%;
}
.trigger7 {
    top: 31.5%;
}
.trigger8 {
    top: 36%;
}
.trigger9 {
    top: 40.5%;
}
.trigger10 {
    top: 44.5%;
}
.trigger11 {
    top: 49%;
}
.trigger12 {
    top: 53.5%;
}




.messageSectionContainer {
    width: 1188px;
    max-width: 80%;
    margin: 0 auto;
}

.messageSectionInner h2 {
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.4px;
    text-align: center;
    color: #96d4c3;
}

.messageSectionBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 120%;
    left: -13%;
    position: relative;
}

.messageSectionHalfLeft {
    margin-right: 3%;
    width: 45%;
    margin-left: 7%;
    padding-top: 30px;
}

.messageSectionHalfLeftInner {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.messageSectionHalfRight {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: 0.7px;
    color: #edd8c5;
    padding-right: 7%;
    width: 45%;
}

.messageSectionHalfRightText p {
    margin: 0 0 28px;
}

.messageSectionHalfRightButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #f85832;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #96d4c3;
    text-align: left;
}

.messageSectionHalfRightButton button div {
    fill: #333;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.messageSectionHalfRightButton button:hover div {
    fill: #333;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/whiteTriangle.png");
}

.messageSectionHalfRightButton button:hover {
    color: #EDD8C5;
    border-color: #EDD8C5;
}

.flame {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat center center / contain;
    opacity: 0;
}
.flameActive {
    opacity: 1!important;
}


.flame.flameActive.hidden {
    opacity: 0!important;
}

#flame1 {
    background-image: url("../../../public/images/dones/done1.png");
}
#flame2 {
    background-image: url("../../../public/images/dones/done2.png");

}
#flame3 {
    background-image: url("../../../public/images/dones/done3.png");

}
#flame4 {
    background-image: url("../../../public/images/dones/done4.png");

}
#flame5 {
    background-image: url("../../../public/images/dones/done5.png");

}
#flame6 {
    background-image: url("../../../public/images/dones/done6.png");

}
#flame7 {
    background-image: url("../../../public/images/dones/done7.png");


}
#flame8 {
    background-image: url("../../../public/images/dones/done8.png");

}
#flame9 {
    background-image: url("../../../public/images/dones/done9.png");

}
#flame10 {
    background-image: url("../../../public/images/dones/done10.png");

}
#flame11 {
    background-image: url("../../../public/images/dones/done11.png");

}
#flame12 {
    background-image: url("../../../public/images/dones/done12.png");

}

.underSection {
    width: 100%;
    position: relative;
}

.underSectionContainer {
    width: 1180px;
    max-width: 80%;
    margin: 0 auto;
}

.underSectionInner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.underSectionEndBlock {
    position: relative;
    height: 100px;
    width: 100%;
    content: '';
    left: 0;
    right: 0;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #96d4c3;
    background-image: url("../../../public/images/texture_Teal.png");
}

.halfLeft {
    width: 45%;
    position: relative;
    margin-right: 10%;
    z-index: 10;
}

.halfLeft img {
    height: auto;
    max-width: 100%;
    border-style: none;
    transform: rotate(180deg);
}

@keyframes iconRoll {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.halfRight {
    width: 45%;
}

.halfRightText {
    width: 321px;
    max-width: 100%;
    margin-right: auto;
    color: #96d4c3;
    margin-bottom: 15px;
}

.halfRightText h2 {
    font-size: 36px;
    line-height: 1.28;
    letter-spacing: 1.4px;
    margin-bottom: 50px;
}

.halfRightTextButton {
    position: relative;
    padding-top: 15px;
    padding-bottom: 75px;
    z-index: 2;
}

.halfRightTextButton button {
    position: relative;
    margin: 0 auto;
    height: 100%;
    display: inline-block;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #333;
    padding: 15px 40px 12px 12px;
    font-size: 20px;
    letter-spacing: .75px;
    border-radius: 0 0 0 3px;
    background-color: transparent!important;
    transition: all .4s ease;
    cursor: pointer;
    color: #333;
    text-align: left;
    z-index: 2;
}

.halfRightTextButton div {
    fill: #333;
    z-index: 2;
    top: 0;
    right: 0;
    position: absolute;
    width: 18px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .4s ease;
    background-position: top right;
    background-image: url("../../../public/images/blackTriangle.png");
}

.halfRightTextButton button:hover div {
    fill: #f85832;
    top: -3px;
    right: -3px;
    background-image: url("../../../public/images/triangleDecolation.png");
}

.halfRightTextButton button:hover {
    border-color: #f85832;
}


.halfRightTextButton::after {
    content: '';
    z-index: 1;
    position: absolute;
    left: -54vw;
    right: 0;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #96d4c3;
    height: 100%;
    width: 150vw;
    top: 0;
    background-image: url("../../../public/images/texture_Teal.png");
}
