.header {
    width: 100%;
    color: #fff;
    height: 80px;
    background-color: rgba(160,166,179,0.0);
    box-sizing: inherit;
}

.container {
    width: 1288px;
    margin: 0 auto;
    max-width: 90%;
    height: inherit;
    position: relative;
}

.inner {
    display: -webkit-flex;
    height: inherit;
    width: 100%;
    display: -moz-flex;
    align-items: center;
    justify-content: space-between;
}

.collection {
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 5px 0;
    color: #96d4c3;
    transition: all .4s;
}


.twitter {
    border-radius: 2px;
    padding: 8px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms!important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    background-color: rgba(85, 172, 238, 1);
}

.logout {
    border-radius: 2px;
    padding: 8px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms!important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    background-color: rgb(221, 75, 57);
}



.balloonContainer {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27,31,35,.15);}

.balloon {
    background-color: #fff;
    color: #333;
}
.balloon::after {
    background-color: inherit;
    top: -5px;
    content: '';
    display: block;
    height: 10px;
    left: 80%;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;

}

.balloonUl {
    width: 180px;
    background-color: #fff;
    color: #333;
}

.balloonUl li {
    padding: 8px 10px;
    text-align: left;
}
