.underSection {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.underSectionContainer {
    width: 1180px;
    max-width: 80%;
    margin: 0 auto;
}

.underSectionInner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.underSectionEndBlock {
    position: relative;
    height: 100px;
    width: 100%;
    content: '';
    left: 0;
    right: 0;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #96d4c3;
    background-image: url("../../../public/images/texture_Teal.png");
}

.halfLeft {
    width: 45%;
    position: relative;
    margin-right: 10%;
    z-index: 10;
}

.halfLeft img {
    height: auto;
    max-width: 100%;
    border-style: none;
    transform: rotate(180deg);
}

@keyframes iconRoll {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.halfRight {
    width: 45%;
}

.halfRightText {
    width: 321px;
    max-width: 100%;
    margin-right: auto;
    color: #96d4c3;
    margin-bottom: 15px;
}

.halfRightText h2 {
    font-size: 36px;
    line-height: 1.28;
    letter-spacing: 1.4px;
    margin-bottom: 50px;
}
