.button {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    line-height: 45px;
    min-width: 140px;
    font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(48, 200, 214, 0.8);
    padding: 0px 20px;
    border-radius: 3px;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    width: 272px;
    -webkit-tap-highlight-color: transparent;
    border-width: 0;
    border-style: none;
    border-color: buttonface;
    border-image: initial;
    margin: 0 auto;
    margin-top: 20px;
}

.button:hover {
    background-color: rgba(48, 200, 214, 1);
}
