.root {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 1288px;
    margin: 0 auto;
    max-width: 90%;
    position: relative;
}

.playingLeft {
    flex-grow: 3;
    flex-basis: 70%;
}

.playingRight {
    flex-grow: 1;
    flex-basis: 30%;
}
