.root {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 1288px;
    margin: 0 auto;
    max-width: 90%;
    position: relative;
}

.playingLeft {
    flex-grow: 3;
    flex-basis: 70%;
}

.playingRight {
    flex-grow: 1;
    flex-basis: 30%;
}


@media (max-width: 570px) {

    .root {
        padding-top: 20px;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        width: 100%;
    }

    .playingLeft {
        flex-grow: 1;
        flex-basis: 100%;
    }

    .playingRight {
        flex-basis: 100%;
    }
}
