.sectionOrange {
    padding: 50px 0 100px;
    width: 100%;
    position: relative;
}
.sectionOrangeContainer {
    width: 1288px;
    max-width: 90%;
    margin: 0 auto;
}

.sectionOrangeBackground {
    padding: 220px 35px;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 1.4px;
    color: #333;
    background-size: 48px;
    background-repeat: repeat;
    background-color: #f85832;
    position: relative;
    background-image: url("../../public/images/texture-orange.png");
}

.sectionOrangeMessageBlock {
    width: 52%;
}

.sectionOrangeAnimationBlock {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.near {
    animation: moveIt 2s linear infinite;
    z-index: 3;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
}

.middle {
    animation: moveIt 3s linear infinite;
    z-index: 2;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
}

.far {
    animation: moveIt 4s linear infinite;

    z-index: 1;
    position: absolute;
    width: auto;
    height: 1200px;
    background-size: auto 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: repeat-y;
    background-position: center center;
}

@keyframes moveIt {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

.heading {
    font-size: 2.5rem;
    font-weight: normal;
}

@media (max-width: 570px) {
    .sectionOrangeContainer {
        max-width: 100%;
    }

    .sectionOrangeMessageBlock {
        width: 100%;
    }


    .sectionOrangeAnimationBlock {
        width: 100%;
    }

    .button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 10;
    }
}
