.balloon {
    background-color: #1a1a1a;
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.4rem 0.5rem;
    position: relative;
}

.balloon::after {
    border-color: rgba(26,26,26,0);
    border-style: solid;
    border-width: 3px 3px 0 3px;
    background-color: inherit;
    bottom: -2.5px;
    content: '';
    display: block;
    height: 5px;
    left: calc(50% - 3px );
    position: absolute;
    transform: rotate(45deg);
    width: 5px;
}
